raw_data/AEO.2014/AEO2014.txt filter=lfs diff=lfs merge=lfs -text
raw_data/AEO.2015/AEO2015.txt filter=lfs diff=lfs merge=lfs -text
raw_data/AEO.2019/AEO2019.txt filter=lfs diff=lfs merge=lfs -text
raw_data/AEO.2021/AEO2021.txt filter=lfs diff=lfs merge=lfs -text
raw_data/STEO/STEO.txt filter=lfs diff=lfs merge=lfs -text
raw_data/AEO.2016/AEO2016.txt filter=lfs diff=lfs merge=lfs -text
raw_data/AEO.2020/AEO2020.txt filter=lfs diff=lfs merge=lfs -text
raw_data/EBA/EBA.txt filter=lfs diff=lfs merge=lfs -text
raw_data/INTL/INTL.txt filter=lfs diff=lfs merge=lfs -text
raw_data/PET/PET.txt filter=lfs diff=lfs merge=lfs -text
raw_data/PET_IMPORTS/PET_IMPORTS.txt filter=lfs diff=lfs merge=lfs -text
raw_data/SEDS/SEDS.txt filter=lfs diff=lfs merge=lfs -text
raw_data/AEO.2017/AEO2017.txt filter=lfs diff=lfs merge=lfs -text
raw_data/COAL/COAL.txt filter=lfs diff=lfs merge=lfs -text
raw_data/ELEC/ELEC.txt filter=lfs diff=lfs merge=lfs -text
raw_data/EMISS/EMISS.txt filter=lfs diff=lfs merge=lfs -text
raw_data/IEO.2019/IEO2019.txt filter=lfs diff=lfs merge=lfs -text
raw_data/NG/NG.txt filter=lfs diff=lfs merge=lfs -text
raw_data/NUC_STATUS/NUC_STATUS.txt filter=lfs diff=lfs merge=lfs -text
raw_data/TOTAL/TOTAL.txt filter=lfs diff=lfs merge=lfs -text
raw_data/AEO.2018/AEO2018.txt filter=lfs diff=lfs merge=lfs -text
raw_data/IEO.2017/IEO2017.txt filter=lfs diff=lfs merge=lfs -text
bq_import/*.jsonl filter=lfs diff=lfs merge=lfs -text
