../india_geosadak/data/facilities/*.zip filter=lfs diff=lfs merge=lfs -text
data/India_AQI.zip filter=lfs diff=lfs merge=lfs -text
data/India_AQI-stations_dcids_lgd.csv filter=lfs diff=lfs merge=lfs -text
