site_and_funding_status/data/401063.xlsx filter=lfs diff=lfs merge=lfs -text
site_and_funding_status/data/resolved_superfund_site_geoIds.json filter=lfs diff=lfs merge=lfs -text
site_contamination/data/401062.xlsx filter=lfs diff=lfs merge=lfs -text
site_contamination/data/contaminants.csv filter=lfs diff=lfs merge=lfs -text
site_and_funding_status/data/superfund_sites_with_status.csv filter=lfs diff=lfs merge=lfs -text
