*.pyc
__pycache__/
.pylint.d/
*.DS_Store
.vscode/settings.json
.env/
.vscode/
.idea/
*.iml
scripts/india_udise/udise_school_dropout_rate/data/*.json
scripts/india_udise/common/data/3061_*.json
scripts/india_udise/common/data/1003_*.json
scripts/india_udise/common/data/3109_*.json
scripts/india_udise/common/data/3031_*.json
scripts/us_epa/superfund/**/output
**/tmp/
scripts/**
!scripts/rff
scripts/rff/raw_data/prism/daily/**/**/heatwave/**
scripts/rff/raw_data/prism/daily/4km/src/**