*.pyc
__pycache__/
*.DS_Store
.vscode/settings.json
.env/
.vscode/
.idea/
*.iml
scripts/india_udise/udise_school_dropout_rate/data/*.json
scripts/india_udise/common/data/3061_*.json
scripts/india_udise/common/data/1003_*.json
