*.pyc
__pycache__/
.pylint.d/
*.DS_Store
.vscode/settings.json
.env/
.vscode/
.idea/
*.iml
**/tmp/
dc_generated/
# Ignore the data folder under the un_census/enhanced_tmcf/ directory.
*/*/*/data/*
lib/
bin/
pyvenv.cfg
# Ignore updates to the local configs json file.
import-automation/executor/config_override.json
.gemini
*.sqlite
*_prompt.txt
*prompt.md
.datacommons/

.venv/
.env
defaults.env

undata/output
undata/metadata
undata/data
undata/cl_reviewed
undata/logs
redundant_archive
undata/DESA
undata/SDG
undata/verification_test

undata/DESA/cl_reviewed/
undata/DESA/cl_unreviewed/
undata/DESA/data/
undata/DESA/efficacy_results/
undata/DESA/metadata/
undata/DESA/metadata_unreviewed/
undata/DESA/output/
.datacommons/runs/
*.csv

model/
model_cache/
tmp/