# Requirements for Python scripts in this repo that have automation enabled!

absl-py
arcgis2geojson
dataclasses
datacommons
frozendict
func-timeout
geojson
google-cloud-bigquery
google-cloud-run
google-cloud-storage>
google-cloud-logging
google-cloud-scheduler
gspread
lxml
numpy
openpyxl>
pandas
pylint
pytest
requests
requests_cache
retry
shapely
urllib3
xarray
xlrd
zipp
beautifulsoup4
ratelimit
