# Requirements for all Python code in this repo, except for import-automation

absl-py==0.9.0
chembl-webresource-client==0.10.2
datacommons==1.4.3
frozendict==1.2
func-timeout==4.3.5
geojson==2.5.0
geopandas==0.8.1
matplotlib==3.3.0
numpy==1.18.5
pandas==1.0.4
pylint
pytest
rdp==0.8
requests==2.24.0
retry==0.9.2
urllib3==1.25.9
xlrd==1.2.0
yapf
zipp