# Requirements for all Python code in this repo, except for import-automation

absl-py
arcgis2geojson
chembl-webresource-client>
dataclasses
datacommons
deepdiff
earthengine-api
flask_restful
frozendict
func-timeout
geojson
geopandas
geopy
google-cloud-run
google-cloud-bigquery
google-cloud-storage>
google-cloud-logging
google-cloud-scheduler
gspread
lxml
matplotlib
netCDF4
numpy
openpyxl>
pandas
pylint
pytest
rasterio
rdp
requests
retry
s2sphere
shapely
tabula-py
urllib3
xarray
xlrd
yapf
zipp
beautifulsoup4
ratelimit
