# Requirements for all Python code in this repo, except for import-automation

# Add new modules to one of:
# - import-automation/executor/requirements.txt: if the script is used in import automation.
# - script-folder/requirements.txt: the module is only needed for that script.
# - requirements_all.txt (here): anything not related to import automation.

-r import-automation/executor/requirements.txt

chembl-webresource-client>=0.10.2
deepdiff==6.3.0
earthengine-api
flask_restful==0.3.9
geopandas==0.8.1
geopy
matplotlib==3.3.0
netCDF4==1.6.4
rasterio
rdp==0.8
s2sphere==0.2.5
tabula-py
yapf
