# Requirements for all Python code in this repo, except for import-automation

absl-py
chembl-webresource-client
datacommons
frozendict
func-timeout
geojson
geopandas
matplotlib
numpy
pandas
pylint
pytest
rdp
requests
retry
urllib3
xlrd
yapf
zipp
