import: {
  import_name: "USNationalPrisonerStatistics"
  provenance_url: "https://www.bjs.gov/index.cfm?ty=dcdetail&iid=269"
  category: STATS
  mcf_proto_url: "gs://resolved_mcf/us_nps/20231120/graph.tfrecord-00000-of-00001.gz"
  import_groups: "infrequent"
  import_groups: "frequent"
  start_date_in_kg: "1978"
  end_date_in_kg: "2021"
  release_frequency: "P1Y"
  table {
    mapping_path: "gs://unresolved_mcf/us_nps/20231120/national_prison_stats.tmcf"
    csv_path: "gs://unresolved_mcf/us_nps/20231120/national_prison_stats.csv"
  }
}