import: {
  import_name: "NationalPrisonerStatisticsImport6"
  provenance_url: "https://www.icpsr.umich.edu/web/NACJD/studies/37639"
  provenance_description: "Yearly data on national prisoner statistics in USA from the Bureau of Justice Statistics"
  # Path to the resolved MCF. Can be a repeated field.
  mcf_url: "gs://resolved_mcf/external_tables/NationalPrisonerStatisticsImport7/nodes.mcf-00000-of-00001"
  # First date of imported data.
  start_date: "1978"
  # Last date of imported data.
  end_date: "2018"
  # Source data release schedule.
  update_frequency: "P1Y"
}