# Requirements for Python code in this directory.
dataclasses
datacommons
earthengine-api
geojson
geopandas
geopy
googleapi
google-cloud-logging
lxml
openpyxl
rasterio
rdp
requests
requests_cache
retry
s2sphere
shapely
urllib3
xlrd
