import: {
  import_name: "BLS_JOLTS"
  provenance_url: "https://bls.gov"
  provenance_description: "U.S. Bureau of Labor Statistics"

  # Path to the resolved MCF. Can be a repeated field.
  mcf_url: "gs://unresolved_mcf/external_tables/BLSJolts/nodes.mcf-00000-of-00001"
  
  # First date of imported data.
  start_date: "2020-06-22"

  # Last date of imported data.
  end_date: "2020-06-22"
  
  # Source data release schedule.
  update_frequency: "P1M"
  next_release_date: "2020-07-20"
}