# Requirements for Python scripts in this repo that have automation enabled!

absl-py
arcgis2geojson
beautifulsoup4
chardet
croniter
dataclasses==0.6
datacommons
db-dtypes
frozendict
func-timeout==4.3.5
geojson==2.5.0
google-auth
google-cloud-bigquery
google-cloud-datastore
google-cloud-run
google-cloud-storage
google-cloud-logging
google-cloud-scheduler
gspread==5.12.0
gunicorn
lxml==4.9.1
numpy==1.26.4
openpyxl>=3.1.0
pandas
protobuf
psutil
pylint
pytest
python_calamine
pytz
ratelimit
requests==2.27.1
requests_cache
retry==0.9.2
shapely==1.8.5
urllib3==1.26.8
xarray==0.19.0
xlrd
xlsxwriter==3.2.0
zipp
