requests
protobuf
google-auth
google-cloud-logging
google-cloud-storage
google-cloud-datastore
google-cloud-scheduler==2.10.0
flask
gunicorn
pytz
absl-py
libwebp-dev>=1.3.2  # To fix a zero-day vulnerability (CVE-2023-4863): https://snyk.io/blog/find-and-fix-webp-vulnerability-cve-2023-4863/