# Requirements for Python scripts in this repo that have automation enabled!

absl-py
arcgis2geojson
beautifulsoup4
chardet
chromedriver_py
croniter
dataclasses
datacommons
db-dtypes
frozendict
fsspec
func-timeout
gcsfs
geojson
geopy
google-api-python-client
google-auth
google-cloud-bigquery
google-cloud-datastore
google-cloud-run
google-cloud-storage
google-cloud-logging
google-cloud-scheduler
gspread
gunicorn
lxml
numpy
openpyxl
pandas
prettytable
protobuf
psutil
pylint
pyspellchecker
pytest
python_calamine
pytz
ratelimit
requests
requests_cache
retry
s2sphere
selenium
shapely
urllib3
webdriver_manager
xarray
xlrd
xlsxwriter
zipp
netCDF4
xmltodict
